:root {
  --myprimary: #5a5aa1;
  --myprimaryhover: #46467c;
  --mysecondary: #424294;
  --mysecondaryhover: #3a3a60;
}
* {
  user-select: none;
  -webkit-user-select: none;
  font-family: "Work Sans", "Tajawal";
}

body {
  background-image: url("../public/backgroundDark.jpg");
}
.content-container {
  margin-top: 15%;
}
.NavLink {
  transition: all 0.3s ease;
}

.NavLink.active {
  font-weight: bold;
  color: var(--myprimary);
  text-decoration: underline;
}

.circle-container {
  text-align: center;
  display: flex;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

#typewriter {
  font-family: "Consolas" !important;
}

#about-me-btn {
  background-color: var(--myprimary);
}
#about-me-btn:hover {
  background-color: var(--myprimaryhover);
}

#resume-btn {
  background-color: var(--myprimary);
}
#resume-btn:hover {
  background-color: var(--myprimaryhover);
}
#projects-btn {
  background-color: var(--mysecondary);
}
#projects-btn:hover {
  background-color: var(--mysecondaryhover);
}

.avatar {
  box-shadow: 0px 0px 20px #ffffff44;
  transition: all 0.2s ease-in-out;
}
.avatar:hover {
  box-shadow: 0 0 40px #ffffff44;
}
.showPage {
  animation: show 0.25s ease-in-out;
}

@keyframes show {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
}

.react-pdf__Page__textContent.textLayer {
  width: 0 !important;
  height: 0 !important;
}

.react-pdf__Page__annotations.annotationLayer {
  width: 0 !important;
  height: 0 !important;
}

.me-auto.navbar-nav {
  margin-right: 16px !important;
}
